# PYTHON BASICS OPERATION

In [2]:
import pandas

In [2]:
pandas.Series([1,2,4])

0    1
1    2
2    4
dtype: int64

In [3]:
print("hello I am a cell")

hello I am a cell

### Strings

In [4]:
a = 'hello'
b = "hello"
type(a)

str

In [5]:
# why do we need double quotes ?
a = 'python's class'
a

SyntaxError: invalid syntax (<ipython-input-5-28b11bbcda52>, line 2)

In [6]:
# use double quotes when you have a single quote within a string
a = "python's class"
a

"python's class"

## Tuple
- immutable
- Python is a dynamically typed language

In [7]:
# can contain any value you wan't
a = (1, 23.34, "hello", (1,2,3), [4,5,6])
a

(1, 23.34, 'hello', (1, 2, 3), [4, 5, 6])

In [8]:
type(a)

tuple

In [9]:
a = 100
a

100

In [10]:
type(a)

int

### List

In [11]:
a = [1, 2, 23.45, "hello", [1,2,3], (1,2,3)]
type(a)

list

In [12]:
a

[1, 2, 23.45, 'hello', [1, 2, 3], (1, 2, 3)]

### Dictionary

In [13]:
d = {1:12, 34:45, "hello":[1,2,3]}
d

{1: 12, 34: 45, 'hello': [1, 2, 3]}

In [14]:
# dictionary has time complexity of O(1)
# list and tuple has time complexity of O(n)

### Sets
- unordered unique elements

In [15]:
a = {1, 2, 3, 1, 2, 3}
a

{1, 2, 3}

In [16]:
my_list = [1, 2, 3, 4, 5, 1, 2, 3]
my_list = set(my_list)
my_list = list(my_list)
my_list

[1, 2, 3, 4, 5]

## Operator

In [17]:
2 + 3

5

In [18]:
2 * 3

6

In [19]:
5 / 2

2.5

In [20]:
5 // 2

2

In [21]:
# modulo %
15 % 4

3

In [22]:
2**3 # 2 the power 3

8

In [23]:
# comparison
a = 12
b = 13
a == b

False

In [24]:
a != b

True

In [25]:
a > b

False

In [26]:
a < b

True

In [27]:
a <= b

True

In [28]:
a >= b

False

In [29]:
if a < b:
    print("hello")

hello

In [30]:
# logical
a = 10
b = 20
if a > 5 and a > 0:
    print("hello")
else:
    print("bye")

hello

In [31]:
a = 10
b = 20
if a > 5 and a < 0:
    print("hello")
else:
    print("bye")

bye

In [32]:
# or
a = 10
b = 20
if a > 5 or a < 0:
    print("hello")
else:
    print("bye")

hello

### identity operator
'is' operator/keyword checks the memory location of both the objects
and compares if both the objects(operands) are pointing to same memory
block

In [33]:
a = ["hello", 1, 2, -8723847564576565]
b = ["hello", 1, 2, -8723847564576565]
# == operator checks only the value
a == b

True

In [34]:
a is b

False

In [35]:
# case 2
# some exceptions
a = 100
b = 100
print(a == b)
print(a is b)

True
True

## membership

In [36]:
a = [1, 2, 3, 4]
1 in a

True

In [37]:
100 in a

False

In [38]:
100 not in a

True

### conditional checking

In [39]:
age = 17
if age >= 18:
    print("you can vote")
    print("Hurray")
else:
    print("you can't vote")

you can't vote

In [40]:
age = 22
if age >= 18:
    print("you can vote")
    print("Hurray")
else:
    print("you can't vote")

you can vote
Hurray

In [41]:
# multiple if conditions then use elif
age=12

if age < 2:
    print("infant")
elif age >= 2 and age <= 12:
    print("child")
elif age > 12 and age <= 19:
    print("Teen")

print("outside the if-else block")

child
outside the if-else block

In [42]:
# nested if
age = 18
if age >= 18:
    print("you can vote")
    if age >= 21:
        print("you can get married")
    else:
        print("you can't get married")
else:
    print("you can't vote")
 #shouldn't if and else be back spaced?

you can vote
you can't get married

## While loop

In [43]:
n = 5
while n >= 0:
    print(n)
    n -= 1   # n = n - 1
print("outside the loop")

5
4
3
2
1
0
outside the loop

# For loop
- used to iterate over a sequence(list, tuple, string etc)

In [44]:
my_list = [100, 200, 300, 400]
for i in my_list:
    print(i + 1000)

1100
1200
1300
1400

In [45]:
# break terminates the loop in middle
# it works in while and for loop both
my_list = [1, 2, 3, 4]
for i in my_list:
    if i == 3:
        break
    print(i + 1000)

print("outside the loop")

1001
1002
outside the loop

In [46]:
# continue skips the code in the current iteration
# it works in while and for loop both
my_list = [1, 2, 3, 4]
for i in my_list:
    if i == 3:
        continue
    print(i + 1000)

print("outside the loop")

1001
1002
1004
outside the loop

In [47]:
# nested loop , means loop inside another loop
for i in [1,2,3]:
    for j in [4, 5, 6]:
        print(i,j)

1 4
1 5
1 6
2 4
2 5
2 6
3 4
3 5
3 6

In [48]:
# range(start, stop)
range(3, 9)

range(3, 9)

In [49]:
list(range(3, 9))

[3, 4, 5, 6, 7, 8]

In [50]:
#list(range(100))

In [51]:
# pass means do nothing
age = 12
if age > 10:
    pass
a = 10
b = 20