# Functions

In [1]:
# create a function to add two numbers

#1. function definition
def add(a, b):
    c = a + b
    return c  # return statement is optional

In [2]:
# 2. function call would execute the function
function_output = add(10, 20)
print(function_output)

30

In [3]:
# you can call the function as many times as you want
function_op = add([1,2], [3,4])
print(function_op)

[1, 2, 3, 4]

In [4]:
# If you don't put the return statement then None type value would be returned
def multiply(i, j):
    c = i * j
    print("Multiplication Output is: %s"%c)

# calling
function_op = multiply(3,4)
print(function_op)

Multiplication Output is: 12
None

In [5]:
type(None)

NoneType

In [6]:
print("hello ",234,345)

hello  234 345

# Built-in functions

In [7]:
#1. sorted(): returns a new sorted list
a = [1, 2, -3, -4, 34, 0, -100]
sorted(a)

[-100, -4, -3, 0, 1, 2, 34]

In [8]:
sorted(a, reverse=True)

[34, 2, 1, 0, -3, -4, -100]

## What is True and False in Python ?

- True values: any non-zero, non-empty object is True
Ex: True, [1,2], (1,2), "edureka", 'H', -1, 100 or any object that
is non-empty, that would also be True

- False values: None, [], (), {}, '', 0, False or any object that is empty would
also be considered as False value.

In [9]:
if -1:
    print("IF")
else:
    print("Else")

IF

In [10]:
if "edureka":
    print("If")
else:
    print("Else")

If

In [11]:
if []:
    print("If")
else:
    print("Else")

Else

In [12]:
"""
2. all(<iterable>) : returns True when all the elements are True
Iterable: objects that we can iterate over using a for loop are called
iterable. ex: List, Tuple, strings
"""
all([100, -1, "edureka", 0])

False

In [13]:
all([100, -1, "edureka", 20])

True

In [14]:
"""
3. any(<iterable>) : returns True if any of the element is
True in the iterable
Iterable: objects that we can iterate over using a for loop are called
iterable. ex: List, Tuple, strings
"""
any([None, '', [], (), False])

False

In [15]:
any(["edureka",None, '', [], (), False])

True

In [16]:
#4. bool()
bool(None)

False

In [17]:
bool([])

False

In [18]:
bool(())

False

In [19]:
bool('')

False

In [20]:
bool(-1)

True

In [21]:
#5. chr(code_point)
chr(97)

'a'

In [22]:
chr(65)

'A'

In [23]:
# ord(character) returns code point for that character
ord('A')

65

In [24]:
#6. abs()
abs(12)

12

In [25]:
abs(-12)

12

In [26]:
#7. enumerate

# without enumerate
print("without enumerate")
a = [11, 22, 33, 44]
for elem in a:
    print(elem)
    
print("With enumerate:(index, value_at_that_index)")
a = [11, 22, 33, 44]
for elem in enumerate(a):
    print(elem)  # (index, value)

without enumerate
11
22
33
44
With enumerate:(index, value_at_that_index)
(0, 11)
(1, 22)
(2, 33)
(3, 44)

In [27]:
#8. int(<string_containing_integer>)
# it is for typecasting string to an integer provided string contains int values.
a = "123"
print("original type: %s"%type(a))
a = int(a)
print("After typecasting: %s"%type(a))

original type: <class 'str'>
After typecasting: <class 'int'>

In [28]:
# this would throw an error
int("[1,2,3]")

ValueError: invalid literal for int() with base 10: '[1,2,3]'

In [29]:
#9. globals()
globals()

{'__name__': '__main__',
 '__doc__': '\n3. any(<iterable>) : returns True if any of the element is\nTrue in the iterable\nIterable: objects that we can iterate over using a for loop are called\niterable. ex: List, Tuple, strings\n',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  '# create a function to add two numbers\n\n#1. function definition\ndef add(a, b):\n    c = a + b\n    return c  # return statement is optional',
  '# 2. function call would execute the function\nfunction_output = add(10, 20)\nprint(function_output)',
  '# you can call the function as many times as you want\nfunction_op = add([1,2], [3,4])\nprint(function_op)',
  '# If you don\'t put the return statement then None type value would be returned\ndef multiply(i, j):\n    c = i * j\n    print("Multiplication Output is: %s"%c)\n\n# calling\nfunction_op = multiply(3,4)\nprint(function_op)',
  'type(None)',
  'print("hello ",234,345)',
  '#1. sorted(): returns a new sorted list\na = [1, 2, -3, -4, 34, 0, -100]\nsorted(a)  ',
  'sorted(a, reverse=True)',
  'if -1:\n    print("IF")\nelse:\n    print("Else")',
  'if "edureka":\n    print("If")\nelse:\n    print("Else")',
  'if []:\n    print("If")\nelse:\n    print("Else")',
  '"""\n2. all(<iterable>) : returns True when all the elements are True\nIterable: objects that we can iterate over using a for loop are called\niterable. ex: List, Tuple, strings\n"""\nall([100, -1, "edureka", 0])',
  'all([100, -1, "edureka", 20])',
  '"""\n3. any(<iterable>) : returns True if any of the element is\nTrue in the iterable\nIterable: objects that we can iterate over using a for loop are called\niterable. ex: List, Tuple, strings\n"""\nany([None, \'\', [], (), False])',
  'any(["edureka",None, \'\', [], (), False])',
  '#4. bool()\nbool(None)',
  'bool([])',
  'bool(())',
  "bool('')",
  'bool(-1)',
  '#5. chr(code_point)\nchr(97)',
  'chr(65)',
  "# ord(character) returns code point for that character\nord('A')",
  '#6. abs()\nabs(12)',
  'abs(-12)',
  '#7. enumerate\n\n# without enumerate\nprint("without enumerate")\na = [11, 22, 33, 44]\nfor elem in a:\n    print(elem)\n    \nprint("With enumerate:(index, value_at_that_index)")\na = [11, 22, 33, 44]\nfor elem in enumerate(a):\n    print(elem)  # (index, value)',
  '#8. int(<string_containing_integer>)\n# it is for typecasting string to an integer provided string contains int values.\na = "123"\nprint("original type: %s"%type(a))\na = int(a)\nprint("After typecasting: %s"%type(a))',
  '# this would throw an error\nint("[1,2,3]")',
  '#9. globals()\nglobals()'],
 '_oh': {5: NoneType,
  7: [-100, -4, -3, 0, 1, 2, 34],
  8: [34, 2, 1, 0, -3, -4, -100],
  12: False,
  13: True,
  14: False,
  15: True,
  16: False,
  17: False,
  18: False,
  19: False,
  20: True,
  21: 'a',
  22: 'A',
  23: 65,
  24: 12,
  25: 12},
 '_dh': ['C:\\Users\\prabh\\DS Project Toolkit\\General'],
 'In': ['',
  '# create a function to add two numbers\n\n#1. function definition\ndef add(a, b):\n    c = a + b\n    return c  # return statement is optional',
  '# 2. function call would execute the function\nfunction_output = add(10, 20)\nprint(function_output)',
  '# you can call the function as many times as you want\nfunction_op = add([1,2], [3,4])\nprint(function_op)',
  '# If you don\'t put the return statement then None type value would be returned\ndef multiply(i, j):\n    c = i * j\n    print("Multiplication Output is: %s"%c)\n\n# calling\nfunction_op = multiply(3,4)\nprint(function_op)',
  'type(None)',
  'print("hello ",234,345)',
  '#1. sorted(): returns a new sorted list\na = [1, 2, -3, -4, 34, 0, -100]\nsorted(a)  ',
  'sorted(a, reverse=True)',
  'if -1:\n    print("IF")\nelse:\n    print("Else")',
  'if "edureka":\n    print("If")\nelse:\n    print("Else")',
  'if []:\n    print("If")\nelse:\n    print("Else")',
  '"""\n2. all(<iterable>) : returns True when all the elements are True\nIterable: objects that we can iterate over using a for loop are called\niterable. ex: List, Tuple, strings\n"""\nall([100, -1, "edureka", 0])',
  'all([100, -1, "edureka", 20])',
  '"""\n3. any(<iterable>) : returns True if any of the element is\nTrue in the iterable\nIterable: objects that we can iterate over using a for loop are called\niterable. ex: List, Tuple, strings\n"""\nany([None, \'\', [], (), False])',
  'any(["edureka",None, \'\', [], (), False])',
  '#4. bool()\nbool(None)',
  'bool([])',
  'bool(())',
  "bool('')",
  'bool(-1)',
  '#5. chr(code_point)\nchr(97)',
  'chr(65)',
  "# ord(character) returns code point for that character\nord('A')",
  '#6. abs()\nabs(12)',
  'abs(-12)',
  '#7. enumerate\n\n# without enumerate\nprint("without enumerate")\na = [11, 22, 33, 44]\nfor elem in a:\n    print(elem)\n    \nprint("With enumerate:(index, value_at_that_index)")\na = [11, 22, 33, 44]\nfor elem in enumerate(a):\n    print(elem)  # (index, value)',
  '#8. int(<string_containing_integer>)\n# it is for typecasting string to an integer provided string contains int values.\na = "123"\nprint("original type: %s"%type(a))\na = int(a)\nprint("After typecasting: %s"%type(a))',
  '# this would throw an error\nint("[1,2,3]")',
  '#9. globals()\nglobals()'],
 'Out': {5: NoneType,
  7: [-100, -4, -3, 0, 1, 2, 34],
  8: [34, 2, 1, 0, -3, -4, -100],
  12: False,
  13: True,
  14: False,
  15: True,
  16: False,
  17: False,
  18: False,
  19: False,
  20: True,
  21: 'a',
  22: 'A',
  23: 65,
  24: 12,
  25: 12},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x0000025D2CCE39E8>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x25d2d537fd0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x25d2d537fd0>,
 '_': 12,
 '__': 12,
 '___': 65,
 '_i': '# this would throw an error\nint("[1,2,3]")',
 '_ii': '#8. int(<string_containing_integer>)\n# it is for typecasting string to an integer provided string contains int values.\na = "123"\nprint("original type: %s"%type(a))\na = int(a)\nprint("After typecasting: %s"%type(a))',
 '_iii': '#7. enumerate\n\n# without enumerate\nprint("without enumerate")\na = [11, 22, 33, 44]\nfor elem in a:\n    print(elem)\n    \nprint("With enumerate:(index, value_at_that_index)")\na = [11, 22, 33, 44]\nfor elem in enumerate(a):\n    print(elem)  # (index, value)',
 '_i1': '# create a function to add two numbers\n\n#1. function definition\ndef add(a, b):\n    c = a + b\n    return c  # return statement is optional',
 'add': <function __main__.add(a, b)>,
 '_i2': '# 2. function call would execute the function\nfunction_output = add(10, 20)\nprint(function_output)',
 'function_output': 30,
 '_i3': '# you can call the function as many times as you want\nfunction_op = add([1,2], [3,4])\nprint(function_op)',
 'function_op': None,
 '_i4': '# If you don\'t put the return statement then None type value would be returned\ndef multiply(i, j):\n    c = i * j\n    print("Multiplication Output is: %s"%c)\n\n# calling\nfunction_op = multiply(3,4)\nprint(function_op)',
 'multiply': <function __main__.multiply(i, j)>,
 '_i5': 'type(None)',
 '_5': NoneType,
 '_i6': 'print("hello ",234,345)',
 '_i7': '#1. sorted(): returns a new sorted list\na = [1, 2, -3, -4, 34, 0, -100]\nsorted(a)  ',
 'a': 123,
 '_7': [-100, -4, -3, 0, 1, 2, 34],
 '_i8': 'sorted(a, reverse=True)',
 '_8': [34, 2, 1, 0, -3, -4, -100],
 '_i9': 'if -1:\n    print("IF")\nelse:\n    print("Else")',
 '_i10': 'if "edureka":\n    print("If")\nelse:\n    print("Else")',
 '_i11': 'if []:\n    print("If")\nelse:\n    print("Else")',
 '_i12': '"""\n2. all(<iterable>) : returns True when all the elements are True\nIterable: objects that we can iterate over using a for loop are called\niterable. ex: List, Tuple, strings\n"""\nall([100, -1, "edureka", 0])',
 '_12': False,
 '_i13': 'all([100, -1, "edureka", 20])',
 '_13': True,
 '_i14': '"""\n3. any(<iterable>) : returns True if any of the element is\nTrue in the iterable\nIterable: objects that we can iterate over using a for loop are called\niterable. ex: List, Tuple, strings\n"""\nany([None, \'\', [], (), False])',
 '_14': False,
 '_i15': 'any(["edureka",None, \'\', [], (), False])',
 '_15': True,
 '_i16': '#4. bool()\nbool(None)',
 '_16': False,
 '_i17': 'bool([])',
 '_17': False,
 '_i18': 'bool(())',
 '_18': False,
 '_i19': "bool('')",
 '_19': False,
 '_i20': 'bool(-1)',
 '_20': True,
 '_i21': '#5. chr(code_point)\nchr(97)',
 '_21': 'a',
 '_i22': 'chr(65)',
 '_22': 'A',
 '_i23': "# ord(character) returns code point for that character\nord('A')",
 '_23': 65,
 '_i24': '#6. abs()\nabs(12)',
 '_24': 12,
 '_i25': 'abs(-12)',
 '_25': 12,
 '_i26': '#7. enumerate\n\n# without enumerate\nprint("without enumerate")\na = [11, 22, 33, 44]\nfor elem in a:\n    print(elem)\n    \nprint("With enumerate:(index, value_at_that_index)")\na = [11, 22, 33, 44]\nfor elem in enumerate(a):\n    print(elem)  # (index, value)',
 'elem': (3, 44),
 '_i27': '#8. int(<string_containing_integer>)\n# it is for typecasting string to an integer provided string contains int values.\na = "123"\nprint("original type: %s"%type(a))\na = int(a)\nprint("After typecasting: %s"%type(a))',
 '_i28': '# this would throw an error\nint("[1,2,3]")',
 '_i29': '#9. globals()\nglobals()'}

In [30]:
# 10. bin() : returns binary value
bin(123)

'0b1111011'

In [31]:
bin(345)

'0b101011001'

In [32]:
# 11. sum(<iterable>) returns sum of all the values of iterable
sum([1,2,3,4])  # list

10

In [33]:
# tuple
sum((11, 22, 33))

66

In [34]:
# with 'dict' sum() would sumup only the keys
sum({1:11, 2:22, 3:33})

6

In [35]:
# all the values must be of same type
sum([11, "hello", 12])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
# Join the list to one line string
' '.join(["hello", "bye", "ds"])

'hello bye ds'

In [43]:
# split the one line string to list
a = 'hello bye ds'
x = a.split(' ')
print(x)

['hello', 'bye', 'ds']

In [37]:
# 12. reversed(sequence)
a = [1,2,3]
reversed(a)

In [38]:
# iterating over reversed object to get the values in reverse order
for elem in reversed(a):
    print(elem)

3
2
1

In [39]:
"hello" + "edureka"

'helloedureka'

In [5]:
#accepts a sequence of words as input and prints the words in a sequence after sorting them alphabetically
my_str = "Welcome to Python"

# breakdown the string into a list of words
words = my_str.split()
print(words)

sort_word = sorted(words)

print(sort_word)
print("Sorted words are:")
for i in sort_word:
    print(i)

['Welcome', 'to', 'Python']
['Python', 'Welcome', 'to']
Sorted words are:
Python
Welcome
to

In [40]:
#Read an integer N.  Without using any string methods, try to print the following: 1,2,3…..N
n = int(input())

for i in range(n):
  print (i+1,end="")

4
1234

In [41]:
"""
Given an integer, , print the following values for each integer  from  to :

Decimal
Octal
Hexadecimal (capitalized)
Binary

I/P:2

O/P:
 1     1     1     1
 2     2     2    10
"""


n = int(input())
width = len('{:b}'.format(n))
for i in range(1,n+1):
    print("{0:{width}d} {0:{width}o} {0:{width}X} {0:{width}b}".format(i, width=width))

4
  1   1   1   1
  2   2   2  10
  3   3   3  11
  4   4   4 100

In [44]:
#Capitalize each 1st word in seq
a = 'chris alan'
x = a.split(' ')
print(x)
s = []

for i in x:
   s.append(str.capitalize(i))
   print(s)

y = ' '.join(s)
print(y)

['chris', 'alan']
['Chris']
['Chris', 'Alan']
Chris Alan

In [6]:
"""
3 Write a program, whichwill find all the numbers between 1000 and 3000 (both included) such that
each digit of a number is an even number
The numbers obtained should be printed in a comma separated sequence on a single line.

 - Hint: In case of input data being supplied to the question, it should be assumed to be a console input.
 - Divide each digit with 2 and verify is it even or not.
 """
values = []

for i in range(1000,3001):
    i = str(i)  #convert to str, then below conv to int

    #Here it passes each digit in number
    if (int(i[0])%2 == 0) and (int(i[1])%2 == 0) and (int(i[2])%2 == 0) and (int(i[3])%2 == 0):
        values.append(i)
    else:
        pass
    
print(values)

#This will append/join all values in list with , separated as below
print (",".join(values))

['2000', '2002', '2004', '2006', '2008', '2020', '2022', '2024', '2026', '2028', '2040', '2042', '2044', '2046', '2048', '2060', '2062', '2064', '2066', '2068', '2080', '2082', '2084', '2086', '2088', '2200', '2202', '2204', '2206', '2208', '2220', '2222', '2224', '2226', '2228', '2240', '2242', '2244', '2246', '2248', '2260', '2262', '2264', '2266', '2268', '2280', '2282', '2284', '2286', '2288', '2400', '2402', '2404', '2406', '2408', '2420', '2422', '2424', '2426', '2428', '2440', '2442', '2444', '2446', '2448', '2460', '2462', '2464', '2466', '2468', '2480', '2482', '2484', '2486', '2488', '2600', '2602', '2604', '2606', '2608', '2620', '2622', '2624', '2626', '2628', '2640', '2642', '2644', '2646', '2648', '2660', '2662', '2664', '2666', '2668', '2680', '2682', '2684', '2686', '2688', '2800', '2802', '2804', '2806', '2808', '2820', '2822', '2824', '2826', '2828', '2840', '2842', '2844', '2846', '2848', '2860', '2862', '2864', '2866', '2868', '2880', '2882', '2884', '2886', '2888']
2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

# lambda functions

In [4]:
#Normal map without lambda
import pandas as pd
data =  { 'name': ['prabha','atharv','yogi'], 'age': [31,1,32]}
df = pd.DataFrame(data)
print(df)
#Replace age by text searches in dictionary for matching key and replaces by its  value 
data_change = {31:'Thirty one', 1:'one', 32:'thirty two'}
df['age'] = df['age'].map(data_change)
print(df)

     name  age
0  prabha   31
1  atharv    1
2    yogi   32
     name         age
0  prabha  Thirty one
1  atharv         one
2    yogi  thirty two

In [45]:
# function definition
def add(a,b):
    return a+b
#calling
add(1,2)

3

In [46]:
# same function as lambda function
(lambda a,b:a+b)(1,2)

3

In [47]:
# how to save lambda function for later use ?
my_func = lambda a,b:a+b
my_func(2,3)

5

In [48]:
# Application of lambda function
# Here Map will iterate through each element in list and applies specified funct
#1. map(function_obj, iterable)
ip = [1,2,3,4]
expected_op = [1, 4, 9, 16]
# M1: using normal def function we use 3 lines of code.
def square(a):
    return a**2

list(map(square, ip)) #[square(1), square(2), square(3), square(4)]

[1, 4, 9, 16]

In [49]:
# M2: better option is to use lambda function
#Here Map will iterate through each element in list
ip = [1,2,3,4]
list(map(lambda a:a**2, ip))

[1, 4, 9, 16]

In [50]:
# Here Filter function with lambda acts as where clause or filter
#Here Map will iterate through each element in list
#2. filter(<function_obj>, iterable)

ip = [-1, -2, 0, 1, 2, 3]
# task: filter only the values greater than 0

list(filter(lambda elem: elem > 0, ip))

[1, 2, 3]

In [51]:

#It takes 1st and 2nd item and does specified operation and then takes previous result and 3rd and performs operation. like way does all
# 3. reduce(func_obj, iterable)
from functools import reduce
ip = [1, 2, 3, 4, 5]
#task to do: add all the values of the Iterable

reduce((lambda i,j:i+j), ip )

15

In [52]:
sum(ip)

15

# Usage Of function 'APPLY'
- 1. With Lambda
- 2. With Normal func

In [7]:
import pandas as pd
import numpy as np
series = pd.Series([20, 21, 12], index=['London', 'New York','Helsinki'])
series

London      20
New York    21
Helsinki    12
dtype: int64

In [8]:
series.apply(lambda x: x**2)

London      400
New York    441
Helsinki    144
dtype: int64

In [9]:
#If no in series is even then print even else odd
series.apply(lambda x: 'even' if x % 2 == 0 else 'odd')

London      even
New York     odd
Helsinki    even
dtype: object

In [10]:
def square(x):
     return x**2
series.apply(square)

London      400
New York    441
Helsinki    144
dtype: int64

In [9]:
"""
4. Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose if the entered string is: Python0325 Then the output will be:
        LETTERS: 6
        DIGITS:4
        Hint: Use built-in functions of string.
        """
str1 = 'Python0325'

final_list = {'Digit' : 0 , 'Letter': 0}

for i in str1:
    if i.isdigit():
        final_list['Digit']+=1
    elif i.isalpha():
        final_list['Letter']+=1

print(final_list)

print("Letter:" , final_list['Letter'] )
print("Digit:" , final_list['Digit'] )

{'Digit': 4, 'Letter': 6}
Letter: 6
Digit: 4

In [11]:
"""
5. Design a code which will find the given number is Palindrome number or not.
"""
my_str = 'aIbohPhoBiA'

# make it suitable for caseless comparison
my_str = my_str.casefold()

# reverse the string
rev_str = reversed(my_str)
print(rev_str)

# check if the string is equal to its reverse
#comapre by changing it to list
if list(my_str) == list(rev_str):
   print("It is palindrome")
else:
   print("It is not palindrome")


#-------------------OR ----------------
str1 = eval(input("Pass a string to check palindrome in '': "))

#Reverse the string
reverse_str = str1[::-1]

if str1 == reverse_str:
    print("Passed value:  '%s' is palindrome" %str1)
else:
    print("Passed value:  '%s' is not a palindrome" %str1)

<reversed object at 0x0000021520596C18>
It is palindrome
Pass a string to check palindrome in '': 'ASDF'
Passed value:  'ASDF' is not a palindrome

In [12]:
"""
Module 2_CS1_1: Write a program which will find factors of given number and find whether the factor is even or odd.
NOTE: its not factorial, its factor of given no:

if no 24, then its fact are 1,2,3,4,6,8,12,24
"""
number = eval(input("Pass the number for factorial:"))

for i in range(1,number+1):
   
    if number % i == 0:
        
        if i % 2 == 0:
            print(" %s is factor of %s which is even no" %(i,number) )
        else:
            print(" %s is factor of %s which is odd no" %(i,number) )

Pass the number for factorial:134
 1 is factor of 134 which is odd no
 2 is factor of 134 which is even no
 67 is factor of 134 which is odd no
 134 is factor of 134 which is even no

# Global and Local variable
- Global var can be accessed in the complete python file.
- local var can only be accessed in the local domain where it was created
  ex within function
- To access a global variable we don't need the 'global'keyword, but to modify a global variable within a function would require a 'global' keyword otherwise if global keyword is missing withing the function and you are trying to modify a global variable there then it won't modify a global var instead it would create a local variable with the same name as global variable.

In [53]:
a = 100   # global variable

def func():
    b = 200  # local variable
    print("Inside function Global var:%s"% a)
    print("Inside function local var:%s"% b)

func()
print("outside the function Global var:%s"% a)
#print("outside function local var:%s"%b)  # will throw en exception

Inside function Global var:100
Inside function local var:200
outside the function Global var:100

In [54]:
# modifying the global variable within function
"""
how to modify a global var inside a function
Ans: Then you have to put a global <var_name> inside the function
otherwise it would create a local var instead.

"""
a = 12  # global
def func():
    a = 200
    print("inside function",a)  #1

func()
print("outside function",a)  #2


#######################################
# right way to modify a global var within a func
a = 12  # global
def func():
    global a
    a = 200
    print("inside function",a)  #1

func()
print("outside function",a)  #2

inside function 200
outside function 12
inside function 200
outside function 200

# keyword arguments

In [55]:
def func(age, name, gender):
    print(age)
    print(name)
    print(gender)

# required positional argument way to calling the function
func(23, 'Ravi', 'M')
print("#"*10)
# keyword args way of calling the function
func(name='Shyam', gender='M',age=24)

23
Ravi
M
##########
24
Shyam
M

## default args

In [56]:
# API
def add(a,b,c):
    print(a+b+c)

    
# other team
add(1,2)

# new team asked
add(1,2,3)

TypeError: add() missing 1 required positional argument: 'c'

In [57]:
# lets add a default args
# API
def add(a,b,c=0):
    print(a+b+c)

    
# other team
add(1,2)

# new team asked
add(1,2,3)

3
6

In [5]:
"""
function that can take any type(positional or keyword) and any number
of the args
"""
def add(*args, **kwargs):
    print("positional args as tuple: ", args)
    print("Keyword args as dictionary: ", kwargs)
    sum = 0
    for elem in args:
        sum += elem
    
    for elem in kwargs.values():
        sum += elem
    print("sum of the pased aruments is:",sum)
    print("#"*10)

add()
add(1,2)
add(3, 4, a=100, b=200)
add(c=2, d=45)
#add(a=12, 1,2, 3)  # keyword args can't come before positional args

positional args as tuple:  ()
Keyword args as dictionary:  {}
sum of the pased aruments is: 0
##########
positional args as tuple:  (1, 2)
Keyword args as dictionary:  {}
sum of the pased aruments is: 3
##########
positional args as tuple:  (3, 4)
Keyword args as dictionary:  {'a': 100, 'b': 200}
sum of the pased aruments is: 307
##########
positional args as tuple:  ()
Keyword args as dictionary:  {'c': 2, 'd': 45}
sum of the pased aruments is: 47
##########

#  Key issues Build a system where when user enters Reference ID it is encrypted, so that hackers cannot view the mapping of Reference ID and finger prin
    Approach to SolveYou have to use fundamentals of Python taught in module 

    1.Read the input from command line –Reference ID
    2.Check for validity –it should be 12 digits and allows on number andalphabet
    3.Encrypt the Reference ID and print it for referenceEnhancements for code
    
        You can try these enhancements in code1.
        1.Allow some special characters in ReferenceID
        2.Give the option for decryption to user

In [15]:
ref_id = 'abc123abc456'
import base64

ref_id_encrypt = base64.b64encode(ref_id.encode())
print(ref_id_encrypt)


ref_id_decry = base64.b64decode(ref_id_encrypt.decode())
print(ref_id_decry)

print((type(ref_id_encrypt)))

#####Another way, but not correct
Reference_id = eval(input("Input the reference id: it should be 12 digits and allows on number and alphabet and special character #$% : "))
#Validate reference id value

import re

if len(Reference_id) !=12 :
    print("Enter the correct reference id, it should be 12 character with alpha numeric")

elif Reference_id.isalpha  and Reference_id.isdigit and re.search("[$#%]",Reference_id):
    print("Entered reference id is correct and matching to condition")
    
    #Here encrypt the Reference_id
    encrypt_Reference_id = Reference_id.encode('utf-8')
    print("Encrypted reference id is %s"  %encrypt_Reference_id)
    
    #Give the option for decryption to user 

    usr_decrpt_ref_id = encrypt_Reference_id.decode('utf-8')
    print("Decrypted reference id is %s"  %usr_decrpt_ref_id)

b'YWJjMTIzYWJjNDU2'
b'abc123abc456'
<class 'bytes'>
Input the reference id: it should be 12 digits and allows on number and alphabet and special character #$% : 'sdf'
Enter the correct reference id, it should be 12 character with alpha numeric

# OOP

## __init__ constructor
- init method
- self(not a keyword)

In [6]:
d
class EdurekaPythonUser:
    # this is closest thing to a constructor
    def __init__(self, a,b,c):
        print("INIT called")
        self.name = a  # instance/object attributes , userdefined
        self.course_id = b
        self.batch_id = c

    def show_name(self):
        print(self.name)

    def show_sthg(self):
        print(self.course_id)

####################
# instantiation/creation of an object
# user 1
ankush_obj = EdurekaPythonUser("Ankush", 123, 567)
# internally ankush_obj.__init__(ankush_obj, "Ankush", 123, 567)

# how to access an attribute defined in the init method
# Ans: If you are outside the class then use the object you have created
#...but if you inside the class then use self to access it
# Outside: obj.<name_attr>
# inside: self.<name_attr>
print(ankush_obj.name)
print(ankush_obj.course_id)

INIT called
Ankush
123

In [7]:
"""you can create as many objects as you want and every object will
contain all the attributes defined in the __init__ method
"""
angad_obj = EdurekaPythonUser("Angad", 890, 767)
print(angad_obj.name)

INIT called
Angad

In [8]:
# calling method of that class
angad_obj.show_name()
angad_obj.show_sthg()

Angad
890

## Built-in class attributes
- owned by the class (not objects)
- must be accessed via class name but can be access via both class name or object of that class

In [9]:
#1 .__dict__
class Edureka:
    a = 100
    def hello(self):
        print("hello")

Edureka.__dict__

mappingproxy({'__module__': '__main__',
              'a': 100,
              'hello': <function __main__.Edureka.hello(self)>,
              '__dict__': <attribute '__dict__' of 'Edureka' objects>,
              '__weakref__': <attribute '__weakref__' of 'Edureka' objects>,
              '__doc__': None})

In [10]:
#2 .__doc__
class Edureka:
    """
    this is a edureka class
    """
    a = 100
    def hello(self):
        print("hello")
#####
print(Edureka.__doc__)

    this is a edureka class

In [11]:
#3. __name__
Edureka.__name__

'Edureka'

In [12]:
#4. __module__
Edureka.__module__

'__main__'

In [13]:
#5. __bases__
Edureka.__bases__

(object,)

In [14]:
# Create an attribute outside the __init__ method
# however creating an attribute outside init method is not a good programming
# ... practice.
class Edureka:
    def hello(self):
        print("hello !!!")
###
obj1 = Edureka()
#creating an attribute for only object 'obj1'
obj1.name = "I am an attribute"
print(obj1.name)

obj2 = Edureka()
obj2.name

I am an attribute

AttributeError: 'Edureka' object has no attribute 'name'

## Public, private and protected attributes
- within the class every attribute can be accessed freely

In [15]:
class Edureka:
    def __init__(self):
        self.pub = "public attribute are without underscores _"
        self._prot = "protected attr because single _ is there"
        self.__pri = "private attr because double __ are there"
    
    def add(self, val_str):
        print(val_str + self._prot)
    
    def hello(self, val):
        print(val + self.__pri)
####
obj = Edureka()
#1. public
obj.pub

'public attribute are without underscores _'

In [16]:
#2. protected attr
obj._prot

'protected attr because single _ is there'

In [17]:
#3. private attr
obj.__pri

AttributeError: 'Edureka' object has no attribute '__pri'

In [18]:
# you still can access private attrs
# name mangling
obj._Edureka__pri

'private attr because double __ are there'

In [25]:
class Edureka:
    def method(self):
        print("public method")

    def __private_my_method(self):
        print("Private method")

    def method2(self):
        self.__private_my_method()
        print("HELLO")

### client code  #
obj = Edureka() # it would call init method
obj.method()

#obj.__private_my_method()
# name mangling
obj._Edureka__private_my_method()

public method
Private method

## class variable and Instance variable
- instance variable would be having multiple copies, each copy for each instance, but class variable would be having only one copy

In [28]:
# any attribute starting with self is an instance/object attr
class Edureka:
    a = "class variable"   # can be accessed via class or obj
    def __init__(self, n):
        self.name = n  # name is an instance/object attr
        self.dept = "Data science" #
###
ravi = Edureka("Ravi singh")
print(ravi.name)

shyam = Edureka("Shyam sundar")
print(shyam.name)

# class variable can be accessed via class name(preferred) or object
print(Edureka.a) # always use class name
print(ravi.a) # not preferred
print(shyam.a)

#class variable can be modified via class name only

Ravi singh
Shyam sundar
class variable
class variable
class variable

In [33]:
class Edureka:
    def __init__(self):
        print("hello")
    
    def __del__(self):
        print("object is going to be deleted")
#########        
obj = Edureka()
#del(obj)

hello
object is going to be deleted