In [35]:
"""
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
"""

'\nText Type:\tstr\nNumeric Types:\tint, float, complex\nSequence Types:\tlist, tuple, range\nMapping Type:\tdict\nSet Types:\tset, frozenset\nBoolean Type:\tbool\nBinary Types:\tbytes, bytearray, memoryview\n'

In [34]:
#Python Casting
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [37]:
# Different Datatype       print(type(x))
"""
Example       	Data Type
x = "Hello World"	str	
x = 20	int	
x = 20.5	float	
x = 1j	complex	
x = ["apple", "banana", "cherry"]	list	
x = ("apple", "banana", "cherry")	tuple	
x = range(6)	range	
x = {"name" : "John", "age" : 36}	dict	
x = {"apple", "banana", "cherry"}	set	
x = frozenset({"apple", "banana", "cherry"})	frozenset	
x = True	bool	
x = b"Hello"	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview
"""

'\nExample       \tData Type\nx = "Hello World"\tstr\t\nx = 20\tint\t\nx = 20.5\tfloat\t\nx = 1j\tcomplex\t\nx = ["apple", "banana", "cherry"]\tlist\t\nx = ("apple", "banana", "cherry")\ttuple\t\nx = range(6)\trange\t\nx = {"name" : "John", "age" : 36}\tdict\t\nx = {"apple", "banana", "cherry"}\tset\t\nx = frozenset({"apple", "banana", "cherry"})\tfrozenset\t\nx = True\tbool\t\nx = b"Hello"\tbytes\t\nx = bytearray(5)\tbytearray\t\nx = memoryview(bytes(5))\tmemoryview\n'

# String

In [8]:
a = "Hello, World!"
print(a[1])

e

In [9]:
#Looping Through a String as indivual character
for x in "banana":
  print(x)

b
a
n
a
n
a

In [11]:
# String Length
a = "Hello, World!"
print(len(a))

13

In [12]:
# Check String
txt = "The best things in life are free!"
print("free" in txt)

True

In [13]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [15]:
# Check if NOT
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' NOT present.")

No, 'expensive' NOT present.

In [16]:
#Slicing
b = "Hello, World!"
print(b[2:5])

llo

In [17]:
# Slice From the Start
b = "Hello, World!"
print(b[:5])

Hello

In [18]:
# Slice To the End
b = "Hello, World!"
print(b[2:])

llo, World!

In [19]:
#Negative Indexing
"""
Get the characters:
From: "o" in "World!" (position -5)
To, but not included: "d" in "World!" (position -2):
"""

b = "Hello, World!"
print(b[-5:-2])

orl

In [1]:
#Upper Case
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [2]:
#lOWER Case
a = "Hello, World!"
print(a.lower())

hello, world!

In [4]:
#Space remove
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [5]:
# Replace String
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [7]:
#Split String
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

b,c = a.split(",")
print(a,b,c)

['Hello', ' World!']
Hello, World! Hello  World!

In [20]:
#String Concatenation
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [21]:
c = a + " " + b
print(c)

Hello World

In [22]:
#String Format
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [25]:
#Use the format() method to insert numbers into strings:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [26]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [27]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [28]:
# Escape Character
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (<ipython-input-28-a2565e78d1a9>, line 2)

In [29]:
#To fix this problem, use the escape character \":
txt = "We are the so-called \"Vikings\" from the north."

"""
Code	Result	Try it
\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value
"""

In [ ]:
# String Methods
"""
Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning
"""

# Python Booleans

In [38]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [39]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [40]:
print(bool("Hello"))
print(bool(15))

True
True

In [41]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

# Python Operators

In [42]:
"""
Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators
"""

'\nPython divides the operators in the following groups:\n\nArithmetic operators\nAssignment operators\nComparison operators\nLogical operators\nIdentity operators\nMembership operators\nBitwise operators\n'

## Python Arithmetic Operators

Assignment operators are used to assign values to variables:

        +	Addition	x + y	
        -	Subtraction	x - y	
        *	Multiplication	x * y	
        /	Division	x / y	
        %	Modulus	x % y	
        - **	Exponentiation	x ** y	
        //	Floor division	x // y	



Operator	Example	Same As	Try it


            =	x = 5	x = 5	
            +=	x += 3	x = x + 3	
            -=	x -= 3	x = x - 3	
            *=	x *= 3	x = x * 3	
            /=	x /= 3	x = x / 3	
            %=	x %= 3	x = x % 3	
            //=	x //= 3	x = x // 3	
            **=	x **= 3	x = x ** 3	
            &=	x &= 3	x = x & 3	
            |=	x |= 3	x = x | 3	
            ^=	x ^= 3	x = x ^ 3	
            >>=	x >>= 3	x = x >> 3	
            <<=	x <<= 3	x = x << 3

## Python Comparison Operators
Comparison operators are used to compare two values:
    
            ==	Equal	x == y	
            !=	Not equal	x != y	
            >	Greater than	x > y	
            <	Less than	x < y	
            >=	Greater than or equal to	x >= y	
            <=	Less than or equal to	x <= y

## Python Logical Operators

        and 	Returns True if both statements are true	x < 5 and  x < 10	
        or	Returns True if one of the statements is true	x < 5 or x < 4	
        not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

## Python Identity Operators

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:
    
        is ->	Returns True if both variables are the same object	-> x is y	
        is not ->  Returns True if both variables are not the same object	-> x is not y

## Python Membership Operators

        in ->	Returns True if a sequence with the specified value is present in the object	x in y	
        not in ->	Returns True if a sequence with the specified value is not present in the object	x not in y

## Python Bitwise Operators

Bitwise operators are used to compare (binary) numbers:
    
        & 	AND	Sets each bit to 1 if both bits are 1
        |	OR	Sets each bit to 1 if one of two bits is 1
         ^	XOR	Sets each bit to 1 if only one of two bits is 1
        ~ 	NOT	Inverts all the bits
        <<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
        >>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

In [ ]:
https://www.w3schools.com/python/python_lists.asp