# Use of Linear and Logistic Regression Coefficients with Lasso (L1) and Ridge (L2) Regularization for Feature Selection

In [2]:
Need to go through below link to read the theory once. Its captured well.

SyntaxError: invalid syntax (<ipython-input-2-5c2bb988bf4a>, line 1)

In [ ]:
# https://kgptalkie.com/use-of-linear-and-logistic-regression-coefficients-with-lasso-l1-and-ridge-l2-regularization-for-feature-selection-in-machine-learning/

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectKBest, SelectPercentile
from sklearn.metrics import accuracy_score

In [3]:
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.feature_selection import SelectFromModel

In [9]:
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [10]:
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [11]:
titanic.drop(labels = ['age', 'deck'], axis = 1, inplace = True)
titanic = titanic.dropna()
titanic.isnull().sum()

survived       0
pclass         0
sex            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [12]:
data = titanic[['pclass', 'sex', 'sibsp', 'parch', 'embarked', 'who', 'alone']].copy()
data.head()

   pclass     sex  sibsp  parch embarked    who  alone
0       3    male      1      0        S    man  False
1       1  female      1      0        C  woman  False
2       3  female      0      0        S  woman   True
3       1  female      1      0        S  woman  False
4       3    male      0      0        S    man   True

In [13]:
data.isnull().sum()

pclass      0
sex         0
sibsp       0
parch       0
embarked    0
who         0
alone       0
dtype: int64

In [14]:
sex = {'male': 0, 'female': 1}
data['sex'] = data['sex'].map(sex)
data.head()

   pclass  sex  sibsp  parch embarked    who  alone
0       3    0      1      0        S    man  False
1       1    1      1      0        C  woman  False
2       3    1      0      0        S  woman   True
3       1    1      1      0        S  woman  False
4       3    0      0      0        S    man   True

In [15]:
ports = {'S': 0, 'C': 1, 'Q': 2}
data['embarked'] = data['embarked'].map(ports)
who = {'man': 0, 'woman': 1, 'child': 2}
data['who'] = data['who'].map(who)
alone = {True: 1, False: 0}
data['alone'] = data['alone'].map(alone)
data.head()

   pclass  sex  sibsp  parch  embarked  who  alone
0       3    0      1      0         0    0      0
1       1    1      1      0         1    1      0
2       3    1      0      0         0    1      1
3       1    1      1      0         0    1      0
4       3    0      0      0         0    0      1

In [16]:
# Let’s read the data into x

X = data.copy()
y = titanic['survived']
X.shape, y.shape

((889, 7), (889,))

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 43)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((622, 7), (267, 7), (622,), (267,))

# Estimation of coefficients of Linear Regression

In [19]:
# First we will go with estimation of coefficients of linear regression

sel = SelectFromModel(LinearRegression())

In [20]:
# Let’s go ahead and fit the model

sel.fit(X_train, y_train)
SelectFromModel(estimator=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False),
        max_features=None, norm_order=1, prefit=False, threshold=None)

SelectFromModel(estimator=LinearRegression())

In [21]:
# Let’s see the features of the model

sel.get_support()

array([ True,  True, False, False, False,  True, False])

In [27]:
# Above True or False is decided based on below logic.

# np.abs(sel.estimator_.coef_) >= np.mean(np.abs(sel.estimator_.coef_))

In [26]:
# Now we will try to get the co-efficients

sel.estimator_.coef_

array([-0.13750402,  0.26606466, -0.07470416, -0.0668525 ,  0.04793674,
        0.23857799, -0.12929595])

In [23]:
# Let’s get the mean of the co-efficients

mean = np.mean(np.abs(sel.estimator_.coef_))
mean

0.13727657291370784

In [24]:
# And calculate the absolute value of the co-efficients

np.abs(sel.estimator_.coef_)

array([0.13750402, 0.26606466, 0.07470416, 0.0668525 , 0.04793674,
       0.23857799, 0.12929595])

In [28]:
# Let's select those features.

features = X_train.columns[sel.get_support()]
features

Index(['pclass', 'sex', 'who'], dtype='object')

In [29]:
#Let’s get the transformed version of x_train and x_test.

X_train_reg = sel.transform(X_train)
X_test_reg = sel.transform(X_test)

X_test_reg.shape

(267, 3)

In [30]:
# Let’s implement the randomForest function and we wil do the training of the model.

def run_randomForest(X_train, X_test, y_train, y_test):
    clf = RandomForestClassifier(n_estimators=100, random_state=0, n_jobs=-1)
    clf = clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    print('Accuracy: ', accuracy_score(y_test, y_pred))

In [31]:
%time
run_randomForest(X_train_reg, X_test_reg, y_train, y_test)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 6.91 µs
Accuracy:  0.8239700374531835

In [32]:
# Now we will get the accuracy and wall time on the original data set

%time
run_randomForest(X_train, X_test, y_train, y_test)

CPU times: user 4 µs, sys: 1e+03 ns, total: 5 µs
Wall time: 8.11 µs
Accuracy:  0.8239700374531835

In [34]:
X_train_reg.shape, X_train.shape

((622, 3), (622, 7))

In [ ]:
# we can see that exact same accuracy is obtained by using 3 columns also. Walltime is also reduced.

# Logistic Regression Coefficient with L1 Regularization

In [44]:
sel = SelectFromModel(LogisticRegression(penalty = 'l1', C = 0.05, solver = 'liblinear'))
sel.fit(X_train, y_train)
sel.get_support()

array([ True,  True,  True, False, False,  True, False])

In [45]:
sel.estimator_.coef_

array([[-0.5404559 ,  0.78041191, -0.14081942,  0.        ,  0.        ,
         0.94105692,  0.        ]])

In [46]:
features = X_train.columns[sel.get_support()]
features

Index(['pclass', 'sex', 'sibsp', 'who'], dtype='object')

In [47]:
X_train_l1 = sel.transform(X_train)
X_test_l1 = sel.transform(X_test)

In [48]:
%time
run_randomForest(X_train_l1, X_test_l1, y_train, y_test)

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 6.91 µs
Accuracy:  0.8277153558052435

# L2 Regularization

In [49]:
sel = SelectFromModel(LogisticRegression(penalty = 'l2', C = 0.05, solver = 'liblinear'))
sel.fit(X_train, y_train)
sel.get_support()

array([ True,  True, False, False, False,  True, False])

In [50]:
sel.estimator_.coef_

array([[-0.55749685,  0.85692344, -0.30436065, -0.11841967,  0.2435823 ,
         1.00124155, -0.29875898]])

In [51]:
features = X_train.columns[sel.get_support()]
features

Index(['pclass', 'sex', 'who'], dtype='object')

In [52]:
X_train_l1 = sel.transform(X_train)
X_test_l1 = sel.transform(X_test)

In [53]:
%time
run_randomForest(X_train_l1, X_test_l1, y_train, y_test)

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 4.77 µs
Accuracy:  0.8239700374531835