# ML Algorithms on NLP

Source: https://kgptalkie.com/3664-2/

In [2]:
import pandas as pd
import numpy as np

import spacy
from spacy.lang.en.stop_words import STOP_WORDS

import spacy
from spacy.lang.en.stop_words import STOP_WORDS
import re
from bs4 import BeautifulSoup
import unicodedata
#from wordcloud import WordCloud
from textblob import TextBlob
from textblob import Word
from spacy import displacy
from textblob.sentiments import NaiveBayesAnalyzer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

## Prepare the dataset

In [94]:
nlp = spacy.load('en_core_web_md')

# for prod we should use nlp = spacy.load('en_core_web_lg')

In [35]:
#df = pd.read_csv("Macintosh HD\\Users\\yogesh\\Documents\\Bharadwaj's\\Career\\Data Science\\Datasets\\1_DSH_Basic_Text_Mining_Output_v1.csv")

# tried to read like this but didnt work out, not sure whats the error, so copied same file to current folder also
# to proceed.

In [3]:
#df = pd.read_csv('1_DSH_Basic_Text_Mining_Output_v1.csv')

df = pd.read_csv("/Users/yogesh/Documents/Bharadwaj's/Career/Data Science/Datasets/1_DSH_Basic_Text_Mining_Output_v1.csv")

In [4]:
df.head()

,Unnamed: 0,twitts,sentiment,words_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentions_count,numerics_count,upper_counts,emails,emails_count,urls_flag
0,0,switchfoot awww bummer shoulda david carr d,0,19,115,5.052632,4,0,1,0,0,[],0,1
1,1,upset update facebook texting cry result schoo...,0,21,111,4.285714,9,0,0,0,0,[],0,0
2,2,kenichan dived times ball managed save 50 rest...,0,18,89,3.944444,7,0,1,0,0,[],0,0
3,3,body feels itchy fire,0,10,47,3.700000,5,0,0,0,0,[],0,0
4,4,nationwideclass behaving mad,0,21,111,4.285714,10,0,1,0,0,[],0,0

In [51]:
df.drop(['Unnamed: 0'], axis=1, inplace = True)

In [52]:
df.head()

,twitts,sentiment,words_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentions_count,numerics_count,upper_counts,emails,emails_count,urls_flag
0,switchfoot awww bummer shoulda david carr d,0,19,115,5.052632,4,0,1,0,0,[],0,1
1,upset update facebook texting cry result schoo...,0,21,111,4.285714,9,0,0,0,0,[],0,0
2,kenichan dived times ball managed save 50 rest...,0,18,89,3.944444,7,0,1,0,0,[],0,0
3,body feels itchy fire,0,10,47,3.700000,5,0,0,0,0,[],0,0
4,nationwideclass behaving mad,0,21,111,4.285714,10,0,1,0,0,[],0,0

In [54]:
df.shape

(1600000, 13)

In [55]:
#sampling the number of rows

df0 = df[df['sentiment']==0].sample(2000)
df4 = df[df['sentiment']==4].sample(2000)

In [56]:
dfr = df0.append(df4)

In [57]:
dfr.shape

(4000, 13)

In [65]:
dfr.head()

,twitts,sentiment,words_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentions_count,numerics_count,upper_counts,emails,emails_count,urls_flag
576057,gonna alot tears tomorrow dont wanna graduate ...,0,20,117,4.850000,5,0,0,0,0,[],0,0
179752,thing having fever feeling cold especially hot...,0,21,114,4.428571,6,0,0,0,0,[],0,0
456907,broken dvr recording,0,6,34,4.666667,2,0,0,0,0,[],0,0
669640,angiecole throw steak dinner haha wont return ...,0,18,94,4.222222,5,0,1,0,0,[],0,0
710227,miss summer,0,5,41,7.200000,0,0,0,0,0,[],0,1

In [58]:
#removing the twitts,sentiment and emails columns

dfr_feat = dfr.drop(labels=['twitts','sentiment','emails'], axis = 1).reset_index(drop=True)

In [59]:
dfr_feat.head()

,words_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentions_count,numerics_count,upper_counts,emails_count,urls_flag
0,20,117,4.850000,5,0,0,0,0,0,0
1,21,114,4.428571,6,0,0,0,0,0,0
2,6,34,4.666667,2,0,0,0,0,0,0
3,18,94,4.222222,5,0,1,0,0,0,0
4,5,41,7.200000,0,0,0,0,0,0,1

In [60]:
y = dfr['sentiment']

In [62]:
cv = CountVectorizer()

In [70]:
text_counts = cv.fit_transform(dfr['twitts'].values.astype('U'))  

# need to convert the dtype object to unicode string .

# as this was exported file, some encoding was missing i guess.

In [71]:
text_counts.toarray().shape

#9734 columns got created. This is like one hot encoding, every word of twitts becames column.

(4000, 9734)

In [72]:
dfr_bow = pd.DataFrame(text_counts.toarray(), columns=cv.get_feature_names())

In [73]:
dfr_bow.head(2)

,020,09,0930,0ld,0rf,0summerbreeze0,10,100,1000,10000,...,zolani,zombie,zombies,zoo,zs,zulu,zumarr,zutradio,zzzzzs,zzzzzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Importing Libraries for ML algorithms

In [74]:
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier


from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.preprocessing import MinMaxScaler

In [75]:
sgd = SGDClassifier(n_jobs=-1, random_state=42, max_iter=200)

lgr = LogisticRegression(random_state=42, max_iter=200)

lgrcv = LogisticRegressionCV(cv = 2, random_state=42, max_iter=1000)

svm = LinearSVC(random_state=42, max_iter=200)

rfc = RandomForestClassifier(random_state=42, n_jobs=-1, n_estimators=200)

In [76]:
# Classifier

clf = {'SGD': sgd, 'LGR': lgr, 'LGR-CV': lgrcv, 'SVM': svm, 'RFC': rfc}

In [77]:
clf.keys()

dict_keys(['SGD', 'LGR', 'LGR-CV', 'SVM', 'RFC'])

In [78]:
#here, we are training our model by defining the function classify.

def classify(X, y):
    scaler = MinMaxScaler(feature_range=(0, 1))
    X = scaler.fit_transform(X) 
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42, stratify = y)
    
    for key in clf.keys():
        clf[key].fit(X_train, y_train)
        y_pred = clf[key].predict(X_test)
        ac = accuracy_score(y_test, y_pred)
        print(key, " ---> ", ac)

## Let's pass different data sets and see how the models accuracy varies:

### Let's pass dfr_bow dataset

In [80]:
%time
classify(dfr_bow, y)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.01 µs
SGD  --->  0.6525
LGR  --->  0.68875
LGR-CV  --->  0.6825
SVM  --->  0.66375
RFC  --->  0.65875

### Manual Feature dataset

In [81]:
dfr_feat.head(2)

,words_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentions_count,numerics_count,upper_counts,emails_count,urls_flag
0,20,117,4.850000,5,0,0,0,0,0,0
1,21,114,4.428571,6,0,0,0,0,0,0

In [82]:
classify(dfr_feat, y)

SGD  --->  0.54625
LGR  --->  0.60875
LGR-CV  --->  0.6175
SVM  --->  0.61125
RFC  --->  0.55375

### Manual Feature + BoW

In [83]:
X = dfr_feat.join(dfr_bow)

In [84]:
classify(X, y)

SGD  --->  0.66875
LGR  --->  0.695
LGR-CV  --->  0.6975
SVM  --->  0.6775
RFC  --->  0.67875

### TFIDF

In [85]:
dfr.shape

(4000, 13)

In [86]:
dfr.head(2)

,twitts,sentiment,words_counts,char_counts,avg_word_len,stop_words_len,hashtags_count,mentions_count,numerics_count,upper_counts,emails,emails_count,urls_flag
576057,gonna alot tears tomorrow dont wanna graduate ...,0,20,117,4.850000,5,0,0,0,0,[],0,0
179752,thing having fever feeling cold especially hot...,0,21,114,4.428571,6,0,0,0,0,[],0,0

In [88]:
tfidf = TfidfVectorizer()
X = tfidf.fit_transform(dfr['twitts'].values.astype('U'))

In [90]:
classify(pd.DataFrame(X.toarray()), y)

SGD  --->  0.66875
LGR  --->  0.6925
LGR-CV  --->  0.69625
SVM  --->  0.6675
RFC  --->  0.65875

### Word2Vec

In [96]:
def get_vec(x):
    doc = nlp(x)
    return doc.vector.reshape(1, -1)

In [99]:
dfr['vec'] = dfr['twitts'].apply(lambda x: get_vec(str(x)))

In [100]:
X = np.concatenate(dfr['vec'].to_numpy(), axis = 0)

In [101]:
X.shape

(4000, 300)

In [102]:
classify(pd.DataFrame(X), y)

SGD  --->  0.6925

/Users/yogesh/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LGR  --->  0.71625
LGR-CV  --->  0.71

/Users/yogesh/opt/anaconda3/lib/python3.8/site-packages/sklearn/svm/_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

SVM  --->  0.62
RFC  --->  0.6925

In [104]:
# So invoking and verifying the alogrithms remains same, its all about Feature Engineering the text to convert into
# numbers and passing to algorithms.